.home {
  display: flex;
  .homeContainer {
    flex: 6;
    .widgets,
    .charts {
      display: flex;
      padding: 2rem;
      gap: 2rem;
    }
    .charts {
      padding: 5px 20px;
    }
  }
}
